<a href="https://colab.research.google.com/github/ElkinaE/Elkina/blob/main/Elkina_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Psycological Effects of COVID***

In [ ]:
import pandas as pd

*   **age** Age group of the person
*   **gender** Gender of the person
*   **occupation** Occupation/sector where the person works
*   **line_of_work** The line of work performed by the person
*   **time_bp** The time spent on work before pandemic
*   **time_dp** The time spent on work during pandemic
*   **travel_time** The travel time spent
*   **easeof_online** Rating of work going online
*   **home_env** Liking of home environment
*   **prod_inc** Rating Productivity Increase
*   **sleep_bal** The rating of sleep cycle
*   **new_skill** Whether any new skill was learnt
*   **fam_connect** Rating how well the person connected with his family
*   **relaxed** Rating of how relaxed the person is feeling
*   **self_time** Rating how much self time was procured
*   **like_hw** Liking of working from Home
*   **dislike_hw** Disliking Working from Home
*   **prefer** Preference of the person to work from home/office
*   **certaindays_hw** Liking whether certain days of working from home is needed

In [ ]:
df = pd.read_csv('psyco.csv')
df

,age,gender,occupation,line_of_work,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,...,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,Unnamed: 19,time_bp.1,travel+work
0,19-25,Male,Student in College,NaN,7,5,0.5,3,3,0.0,...,1.0,-0.5,-0.5,100,1,Complete Physical Attendance,Yes,NaN,7,NaN
1,Dec-18,Male,Student in School,NaN,7,11,0.5,4,2,-0.5,...,1.0,1.0,1.0,1111,1110,Complete Physical Attendance,No,NaN,7,NaN
2,19-25,Male,Student in College,NaN,7,7,1.5,2,2,1.0,...,0.5,0.5,0.5,1100,111,Complete Physical Attendance,Yes,NaN,7,NaN
3,19-25,Male,Student in College,NaN,7,7,1.5,3,1,0.0,...,0.0,-1.0,-0.5,100,1111,Complete Physical Attendance,Yes,NaN,7,NaN
4,19-25,Female,Student in College,NaN,7,7,1.5,2,2,0.0,...,0.0,0.5,0.0,1010,1000,Complete Physical Attendance,Yes,NaN,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,40-50,Female,Entrepreneur,NaN,9,9,0.5,2,1,0.5,...,0.5,0.0,0.0,10,1,Complete Physical Attendance,Yes,NaN,9,NaN
1171,26-32,Female,Homemaker,NaN,5,12,0.5,3,5,-0.5,...,0.0,-0.5,-0.5,100,111,Complete Physical Attendance,Maybe,NaN,5,NaN
1172,26-32,Male,Working Professional,Engineering,9,11,0.5,3,2,0.5,...,0.5,0.0,0.0,1111,110,Complete Physical Attendance,Maybe,NaN,9,NaN
1173,26-32,Male,Working Professional,Engineering,11,12,1.5,2,2,0.0,...,-1.0,0.0,-0.5,1111,1100,Complete Physical Attendance,Yes,NaN,11,NaN
1174,40-50,Male,Working Professional,Engineering,5,5,0.5,2,2,0.5,...,0.5,0.5,0.5,1100,101,Work/study from home,Yes,NaN,5,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   object
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   line_of_work    479 non-null    object
 4   time_bp         1175 non-null   int64
 5   time_dp         1175 non-null   int64
 6   travel_time     1175 non-null   float64
 7   easeof_online   1175 non-null   int64
 8   home_env        1175 non-null   int64
 9   prod_inc        1175 non-null   float64
 10  sleep_bal       1175 non-null   float64
 11  new_skill       1175 non-null   float64
 12  fam_connect     1175 non-null   float64
 13  relaxed         1175 non-null   float64
 14  self_time       1175 non-null   float64
 15  like_hw         1175 non-null   int64
 16  dislike_hw      1175 non-null   int64
 17  prefer          1175 non-null   object
 18  certaindays_hw  1175 non-null   object
 19  Unnamed: 19     0 non-null      float64
 20  time_bp.1       1175 non-null   int64
 21  travel+work     0 non-null      float64
dtypes: float64(9), int64(7), object(6)
memory usage: 202.1+ KB

In [ ]:
df.describe()

,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,sleep_bal,new_skill,fam_connect,relaxed,self_time,like_hw,dislike_hw,Unnamed: 19,time_bp.1,travel+work
count,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,0.0,1175.000000,0.0
mean,7.415319,7.971915,1.027660,2.533617,2.752340,0.008936,-0.108936,0.146809,0.260426,0.035745,0.082979,734.840851,651.067234,NaN,7.415319,NaN
std,2.005385,2.657007,0.713314,1.267609,1.235799,0.615083,0.621215,0.643686,0.686825,0.626637,0.541434,468.000935,502.319310,NaN,2.005385,NaN
min,4.000000,4.000000,0.500000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000,NaN,4.000000,NaN
25%,5.000000,5.000000,0.500000,1.000000,2.000000,-0.500000,-0.500000,-0.500000,0.000000,-0.500000,-0.500000,100.000000,101.000000,NaN,5.000000,NaN
50%,7.000000,9.000000,0.500000,2.000000,3.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,1001.000000,1000.000000,NaN,7.000000,NaN
75%,9.000000,9.000000,1.500000,4.000000,4.000000,0.500000,0.500000,0.500000,1.000000,0.500000,0.500000,1100.000000,1101.000000,NaN,9.000000,NaN
max,12.000000,12.000000,3.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1111.000000,1111.000000,NaN,12.000000,NaN

Выводы по базе данных:
1.   696 человек, участвующих в опросе не указали род своей деятельности. На остальные вопросы ответили все опрошенные.
2.   Во время пандемии люди тратили на работу в среднем на полчаса больше, чем до пандемии.
3.   Продуктивность людей во время пандемии незначительно выросла.
4.   У большинства опрошенных ухудшился сон.